@model IEnumerable<Cinema86Movie.Models.CN86_Pelicula>

@{
    //REPRUDUCTOR
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cinema 86 - Blog de Películas, Videos y Programas de TV</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/assets/img/favcion.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" media="all" />
    <!-- Slick nav CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slicknav.min.css" media="all" />
    <!-- Iconfont CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/icofont.css" media="all" />
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
    <!-- Main style CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" media="all" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css" media="all" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-area-content">
                        <h2>@ViewBag.Title</h2>
                        @foreach (var item in Model)
                        {
                            @*Vista Para reproducir desde onedrive*@
                            <video width="320" height="240" controls="controls">
                                <source src="@Html.DisplayFor(modelItem => item.URL_Ubicacion)"
                                        type="video/mp4">
                            </video>
                            <hr />
                            if (item.Id_Tipo == 2)
                            {
                                <div><a class="theme-btn" href="@Url.Action("Index", "Previos", new { _idPeli = item.Id_Pelicula }, null)">Capítulos Anteriores</a></div>
                            }
                        }
                        <hr />
                        <div><a class="theme-btn" href="@Url.Action("Main", "Home")">Regresar al Índice</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jquery main JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Slick nav JS -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>
    <!-- owl carousel JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Popup JS -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope JS -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- main JS -->
    <script src="~/assets/js/main.js"></script>
</body>