
@{
    ViewBag.Title = "CambioPasswordEnviado";
    Layout = "~/Views/Shared/_master.cshtml";
}

<!-- breadcrumb area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>Cambio de Contraseña</h1>
                    <div class="alert-success">
                        <strong>Mensaje..!!</strong>  @ViewBag.Message,  clic aqui para salir. <a class="btn btn-primary" href="@Url.Action("Index", "Login")">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb area end -->


