
@{
    ViewBag.Title = "CambioPasswordExitoso";
    Layout = "~/Views/Shared/_master.cshtml";
}

<!-- breadcrumb area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h2>Cambio de Contraseña Exitoso</h2>

                    <div class="alert-success">
                        <strong>Mensaje..!!</strong>  @ViewBag.Message,  clic aqui para ingresar a su cuenta de Cinema 86. <a class="btn btn-primary" href="@Url.Action("Index", "Login")">Salir</a>
                        @*@Html.ActionLink("Ingresar", "Index", "Login")*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb area end -->

